:root {
  --primary-color: #ffc80b;
  --secondary-color: #053160;
  --terciary-color: #031e3c;
  --transition-speed: 200ms;

  --font-size: clamp(2.5rem, 3vw, 3.5rem);
  --font-bold: 600;
  --font-light: 300;

  --button-height: 92px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  height: 100vh;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--secondary-color);

  max-width: 800px;
  height: 100vh;
  margin: auto;
}

button {
  border: none;
  background-color: transparent;

  color: var(--primary-color);
  font-size: var(--font-size);
  font-weight: var(--font-bold);
  text-transform: uppercase;

  cursor: pointer;

  flex: 1;
}

#controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

input[type="range"] {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.range {
  position: relative;
  display: flex;
  background-color: var(--terciary-color);
  flex: 1;
  max-height: 160px;
}

.range-bar {
  flex: 1;
  transform-origin: left;
  transform: scaleX(0.5);
  background-color: var(--primary-color);
  pointer-events: none;
  width: 100%;
}

#scrub > .range-bar {
  background-color: #181717;
}

#info,
#menu {
  display: flex;
  height: var(--button-height);
}

#menu {
  justify-self: end;
}

.toggle {
}

.toggle > * {
  display: none;
}

#menu-container {
  position: absolute;
  inset: 0;
  bottom: var(--button-height);

  display: flex;

  background-color: var(--primary-color);

  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform var(--transition-speed) ease;
}

#menu-container > .lists-container {
  position: relative;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
}

#menu-container > .lists-container > ul {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  flex: 1;

  list-style: none;
  transition: var(--transition-speed) ease;
}

#menu-container > .lists-container > ul li {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex: 1;

  font-size: var(--font-size);
  font-weight: var(--font-light);
  text-transform: uppercase;
  color: var(--secondary-color);

  padding: 10px;
  max-height: var(--button-height);
  cursor: pointer;
}
